<%- include('../partials/header.ejs') %>

<div class="container d-flex justify-content-center">
    <h1>Search Systems</h1><br>
</div>

<form action="?search=" method="GET">
    <div class="container d-flex justify-content-center btn-group">
        <input name="search" class="form-control" type="text" placeholder="Search by System Name...">
        <button id="org-btn" type="submit" class="btn">Search</button>
    </div>
</form>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">System</th>
            <th scope="col">Games</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Year</th>
            <th scope="col">Favorite</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < rows.length; i++) { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <form action="games" method="GET">
              <input type="hidden" name="search" value="<%= rows[i].name %>">
              <input type="hidden" name="sys" value="<%= rows[i].name %>">
              <td><button class="btn" type="submit"><%= rows[i].name %></button></td>
            </form>
            <td><%= rows[i].games %></td>
            <td><%= rows[i].manufacturer %></td>
            <td><%= rows[i].year %></td>

            <form action="systems" method="GET">
              <input type="hidden" name="sys" value="<%= rows[i].name %>">
              <td><% if (favs.some(sys => sys.sys_name == rows[i].name)) { %><button id="star" class="btn" type="submit"><i class="bi bi-star-fill"></i></button><% } else { %><button id="star" class="btn" type="submit"><i class="bi bi-star"></i></button><% } %></td>
            </form>
            
          </tr>
          <% } %>
        </tbody>
      </table>
</div>

<%- include('../partials/footer.ejs') %>